body {
background-color: #242424;
}

.card-style {
    margin-top: 6rem;
    height: 20rem;
    width: 15rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(193, 163, 221);
    color:aqua;
  }
  