body {
background-color: #242424;
}

.card-style {
    margin-top: 6rem;
    height: 20rem;
    width: 15rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(91, 20, 158);
    color:rgb(245, 94, 7);
  }
  